.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assurez-vous que la barre de navigation soit au-dessus de tout le contenu */
    background-color: #ffffff; /* Couleur de fond de la barre de navigation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère sous la barre de navigation */
  }