.service-container {
    text-align: center;
    padding: 100px 20px;
    background-color: #eaf6ff;
  }
  
  .service-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service-item {
    margin-bottom: 40px;
    width: 100%;
    max-width: 600px;
    background-color: #fff; /* White background for contrast */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  .service-item-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #007bff; /* Vibrant color for titles */
  }
  
  .service-item p {
    font-size: 18px;
    color: #555; /* Slightly darker text color for description */
  }
  