.custom-sidebar {
  background-color: #f4f4f4;
  /* Couleur de fond grise claire */
  width: 250px;
  /* Largeur de la barre latérale */
  padding: 17px;
  /* Espacement autour du contenu */
}


.custom-sidebar .itemStyle {
  color: #333;
  /* Couleur du texte des éléments de la barre latérale */
  margin-bottom: 10px;
  /* Espacement entre les éléments */
  padding: 15px;
  /* Espacement à l'intérieur de chaque élément */
  border-radius: 5px;
  /* Coins arrondis */
  border: 1px solid #ccc;
  /* Bordure grise */
  display: flex;
  /* Utiliser Flexbox */
  align-items: center;
  /* Aligner les éléments sur la même ligne verticalement */
  text-decoration: none;
  /* Supprimer le soulignement du texte */
}

.custom-sidebar .itemStyle:hover {
  background-color: #ddd;
  /* Couleur de fond au survol */
  color: #000;
  /* Couleur du texte au survol */
}

.custom-sidebar .itemStyle svg {
  margin-right: 10px;
  /* Espacement entre l'icône et le texte */
}